<div class="container-home">
  <div class="header">
    <h1>Nous n'avons pas trouvé de réponse exacte à votre question</h1>

    <h2>Nos suggestions :</h2>
  </div>
    <%# Ajouter des blocs de suggestion avec les tags%>
  <div class="grille">
    <div class= "suggestions">
      <% @question.query.split.each do |query| %>
      <% if Question::LOCALISATION.include?(query) %>
          <%  @answer = Question.tagged_with("Localisation") %>
          <% @answer.each do |answer| %>
            <p><%= answer.query %></p>
          <% end %>
      <% elsif Question::HORAIRES.include?(query) %>
          <%  @answer = Question.tagged_with("Horaires") %>
          <% @answer.each do |answer| %>
            <p><%= answer.query %></p>
          <% end %>
      <% elsif Question::COLLABORATEUR.include?(query) %>
          <%  @answer = Question.tagged_with("Collaborateurs") %>
          <% @answer.each do |answer| %>
            <p><%= answer.query %></p>
          <% end %>
      <% elsif Question::METIER.include?(query) %>
          <%  @answer = Question.tagged_with("Métiers") %>
          <% @answer.each do |answer| %>
            <p><%= answer.query %></p>
          <% end %>
      <% elsif Question::RESEAU_SOCIAL.include?(query) %>
          <%  @answer = Question.tagged_with("Réseaux Sociaux") %>
          <% @answer.each do |answer| %>
            <p><%= answer.query %></p>
          <% end %> 
      <% elsif Question::CLIENT.include?(query) %>
          <%  @answer = Question.tagged_with("Clients") %>
          <% @answer.each do |answer| %>
            <p><%= answer.query %></p>
          <% end %> 
      <% elsif Question::SITE_WEB.include?(query) %>
          <%  @answer = Question.tagged_with("Site web") %>
          <% @answer.each do |answer| %>
            <p><%= answer.query %></p>
          <% end %> 
      <% elsif Question::EVENEMENT.include?(query) %>
          <%  @answer = Question.tagged_with("Evenement") %>
          <% @answer.each do |answer| %>
            <p><%= answer.query %></p>
          <% end %> 
      <% elsif Question::RECRUTEMENT.include?(query) %>
          <%  @answer = Question.tagged_with("Recrutement") %>
          <% @answer.each do |answer| %>
            <p><%= answer.query %></p>
          <% end %> 
      <% elsif Question::CONTACT.include?(query) %>
          <%  @answer = Question.tagged_with("Contact") %>
          <% @answer.each do |answer| %>
            <p><%= answer.query %></p>
          <% end %> 
      <% else %> 
          <% @questions.each do |question|  %>
            <p><%= question.query %></p>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
