<div class="container-home">
  <div class="header">
    <h3> Bienvenue dans l'administration de l'Assistant Beecee</h3>
  </div>

  <div class="intro">
    <div class="col-4">
      <%= form_tag questions_path, method: :get do %>
        <%= text_field_tag :search,
          params[:search], class: "form-control", placeholder: "Cherchez par question ou par url" %>
      </div>
      <div class="boitebouton">
        <%= submit_tag "Rechercher", class: "btn btn-primary" %>
      </div>
      <% end %>
  </div>

  <div class="grille">
      <div class="titres">
            <div class="col-4">
              <p> QUESTION </p>
            </div>
            <div class="col-4">
              <p> LIEN</p>
            </div>
            <div class="col-2">
              <p> TAGS</p>
            </div>
      </div>
  <% @questions.each do |question| %>
    <div class="ligne">
          <div class="col-4">
            <%= question.query %>
          </div>
          <div class="col-4">
            <%= question.link.url %>
          </div>
          <div class="col-2">
            <%= question.tag_list %>
          </div>
          <div class="col-2">
            <%= link_to question_path(question),
                        method: :delete,
                        data: { confirm: 'Are you sure ?' } do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
             <%= link_to edit_question_path(question) do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
