<div class="box-login">
  <p>Créer une nouvelle question</p>
  <div class="simpleform">
    <%= simple_form_for(@question) do |f|  %>
      <%= f.input :query %>
      <%= f.simple_fields_for :link do |l| %>
        <%= l.input :url %>
        <%= f.input :tag_list, as: :check_boxes, collection: [ "Localisation", "Horaires", "Collaborateurs", "Métiers", "Réseaux Sociaux", "Clients", "Site web", "Evenement", "Recrutement", "Contact"] %>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>
</div>

