<p>Créer une nouvelle question</p>

<%= simple_form_for(@question) do |f| %>
  <%= f.input :query %>
  <%= f.simple_fields_for :link do |l| %>
    <%= l.input :url %>
  <% end %>
  <%= f.submit %>

<% end %>
