<div class=container>

  <div class="row">
    <div class="formulaire-signup" >
      <h2>Créez votre compte admin</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>


          <div class="form-actions">
            <%= f.button :submit, class: "btn-primary", value: "Je crée mon compte" %>
          </div>
        <% end %>
      <br>
      <%= render "devise/shared/links" %>
      </div>
    </div>

  <div class="row">
    <div class= "imagedroite">
      <img class="fit-picture"
        src="https://images.unsplash.com/photo-1468442348891-5e70bc562876?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80"
        alt="plants">
      </div>
  </div>
</div>
